[MASTER]
load-plugins=pylint_django
django-settings-module=api.settings.development
ignore-paths=^api/settings/.*$,^users/managers.py,^manage.py,.*/migrations/.*.py,.venv

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=missing-docstring,missing-module-docstring,too-many-ancestors,fixme
